# Python binaries
*.pyc
*.pyo
*__pycache__*
.ipynb_checkpoints

# hidden files garbage
*~
TODO
.fuse*

# ab-initio/doc build files and example results
*.pdf
build
examples/tb/results

# Installation/setup related
dist
*egg**
MANIFEST
*.tar.gz
files*.txt

# ignoring the _ptools git
tbmodels/_ptools/.git
tbmodels/_ptools/.gitignore

# selectively choose _ptools
tbmodels/_ptools/*
!tbmodels/_ptools/__init__.py
!tbmodels/_ptools/sparse_matrix.py

# debug folder
debug

# testing files from Brutus
lsf.*
decorator.py

# virtualenvs
venv*

# pytest
.cache/v/cache
tests/.cache
htmlcov
tests/.coverage

speed_test/data

playground

# mypy
.mypy_cache
