# examples are provided via GitHub
prune examples

# tests etc. -- for development only
prune tests
prune speed_test
prune futures
prune playground

# Documentation is provided online
prune doc

# installation related
exclude MANIFEST.in

# License & README
include README.md
include LICENSE.txt
